body {
  margin: 0;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}
/*
.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
*/
.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: 20px 0;
  background-color: #fff;
}

.navbar-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: none;
}

.site-icon {
  order: 2;
  align-self: center;
  width: 128px;
  background: transparent;
}

.toggle-menu--mobile {
  order: 1;
  width: 26px;
  height: 26px;
  margin-left: 15px;
  cursor: pointer;
}

.toggle-menu--mobile__icon-bar {
  display: block;
  margin: 5.5px 0;
  background-color: #000;
  height: 1px;
}

.menu {
  order: 4;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  width: 100%;
  padding: 0;
  border: 0;
  margin: 0;
  background-color: #fff;
}

@supports ((-webkit-backdrop-filter: initial) or (backdrop-filter: initial)) {
  .navbar, .menu {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255,255,255,0.7);
  }
}

.menu__item {
  display: block;
  width: 100%;
  text-align: center;
  background-color: inherit;
}

.menu__item a {
  display: block;
  width: 100%;
  padding: 20px 0;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  color: #000;
}

.menu__item a:hover {
  color: #6b6b6b;
}

.search-button--show-search-form {
  display: none;
  position: relative;
  background-color: red;
  top: 5px;
  right: 6px;
  width: 13px;
  height: 13px;
  padding-left: 10px;
  background-image: url(../img/icon-search.svg);
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.search-button--show-search-form:hover {
  color: #6b6b6b;
}

.search-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 2px 0;
  margin-top: 20px;
  border: 0px solid transparent;
}

.search-form input[type=text] {
  display: block;
  width: 230px;
  padding: 10px 20px;
  height: 14px;
  padding-right: 26px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.search-form input[type=text]:focus {
  border-radius: 6px;
  border: 1px solid transparent;
  outline: none;
  background-color: #e6e6e6;
}

.search-form input[type=text]:focus > .search-form__reset-button {
  background-color: #e6e6e6;
}

.search-form__reset-button {
  display: block;
  position: absolute;
  top: 15%;
  right: 15vw;
  width: 15px;
  height: 15px;
  border: 0px;
  background-image: url(../img/icon-cross.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  text-indent: -9999px;
  cursor: pointer;
}

/* .search-form__reset-button:hover {
  -webkit-animation:spin 1.3s
cubic-bezier(0.07, 0.14, 0.17, 0.93);
  -moz-animation:spin 1.3s
cubic-bezier(0.07, 0.14, 0.17, 0.93);
  animation:spin 1.3s
cubic-bezier(0.07, 0.14, 0.17, 0.93);
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  20% {
    -moz-transform: rotate(90deg);
  }
  100% {
    -moz-transform: rotate(90deg);
  }
 }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
  }
 }
 @keyframes spin {
   0% {
     transform: rotate(0deg);
   }
   20% {
     transform: rotate(90deg);
   }
   100% {
     transform: rotate(90deg);
   }
  }
.search-form__reset-button:focus {
  outline: none;
}
*/
.search-form__submit-button {
  width: 25px;
  height: 25px;
  padding: 10px;
  margin-top: 15px;
  border: 0px;
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  text-indent: -9999px;
  cursor: pointer;
}

.cart {
  order: 3;
  position: relative;
  width: 26px;
  height: 26px;
  padding-right: 20px;
  margin-right: 10px;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  font-size: 0;
}

.cart__items-in-cart {
  position: absolute;
  top: 5px;
  right: 5px;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.main {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.articles {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  z-index: 0;
  width: 100%;
  padding: 2% 0;
  border: 0px;
  margin-top: 70px;
  margin-bottom: 40px;
  overflow-x: hidden;
}

.help-window--show-once {
  display: none;
  flex-flow: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 150;
  width: 90%;
  height: inherit;
  padding: 0 5%;
  background-color: rgba(0, 0, 0, 0.95);
  text-align: center;
}

.help-window--show-once::before {
  align-self: flex-end;
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  margin-top: 3vw;
  background-image: url("../img/icon-cross-white.svg");
  background-repeat: no-repeat;
  background-size: contain;
  fill: #fff;
}

.help-window__decor-image-block {
  order: 1;
  width: 20vw;
  height: 20vw;
  margin-bottom: 10vw;
  background-color: #fff;
}

.help-window__text {
  order: 2;
  color: #fff;
  font-size: 1.1rem;
  font-family: 'Open Sans', sans-serif;
}

.article-cards-wrapper {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  position: relative;
  z-index: 1;
  width: 100vw;
}

.article-cards-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 100%;
  z-index: 3;
  background-color: #ffffff;
}

.article-cards-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 100%;
  z-index: 3;
  background-color: #ffffff;
}

.articles-card {
  position: relative;
  z-index: 2;
  width: 70vw;
  border-radius: 6px;
}

.articles-card a {
  display: block;
  width: inherit;
  height: inherit;
  border-radius: 6px;
}

.articles-card img {
  width: inherit;
  height: inherit;
  border-radius: 6px;
}

.articles-card span {
  position: absolute;
  bottom: 20%;
  left: 10%;
  z-index: 2;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
  line-height: 1;
}

.articles-card {
  position: relative;
  width: 65vw;
  height: 65vw;
  border-radius: 6px;
}

.articles-card::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
}

.articles-card--current {
  left: -45%;
}

.articles-card--current::after {
  background-color: rgba(0,0,0,0);
}

.articles-card-2 {
  left: -47%;
}

.articles-card-3 {
  left: -43%;
}

.articles-card-4 {
  left: -41%;
}

.articles-card--current > img {
  object-fit: cover;
  object-position: 0 0;
  width: 65vw;
  height: 65vw;
  border-radius: 6px;
}

.articles-card--current span {
  position: absolute;
  bottom: 20%;
  left: 10%;
  z-index: 2;
  max-width: 40%;
  margin-right: 6.5px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  line-height: 1;
}

.articles-card--inactive-level-4::after {
  background-color: rgba(0, 0, 0, 0.8);
}
/*.articles-card--current:hover::after {
  opacity: 1;
}

.articles-card--current:hover > span {
  color: #fff;
}
*/



.products {
  width: 90vw;
  position: relative;
  text-align: center;
}

.products > h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.9rem;
  font-family: 'Open Sans', sans-serif;
}

.categories {
  position: relative;
  list-style-type: none;
  height: 130vw;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}

.categories::after {
  content: "";
  display: block;
  width: 100vw;
  padding-top: 15vw;
  position: absolute;
  bottom: 15vw;
  text-align: center;
  background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 57%, rgba(255,255,255,0) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(43%, rgba(255,255,255,1)), color-stop(45%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 57%, rgba(255,255,255,0) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 57%, rgba(255,255,255,0) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 57%, rgba(255,255,255,0) 100%); /* ie10+ */
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 57%, rgba(255,255,255,0) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#FFFFFF',GradientType=0 ); /* ie6-9 */
}

.categories__item {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 25vw;
  max-height: 30vw;
  margin-bottom: 1vw;
  text-align: center;
}

.categories__item--disabled {
  width: 25vw;
  height: 30vw;
  margin-bottom: 15px;
  overflow: hidden;
  text-align: center;
  text-indent: -9999px;
}

.categories-content {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.categories__item > a {
  display: block;
  width: 25vw;
  height: 30vw;
  text-decoration: none;
  color: #000;
}

.categories-img {
  width: 15vw;
  height: 15vw;
}

.categories-title {
  display: block;
  font-size: 0.8rem;
}

.categories-content--disabled1__decor-img {
  width: 15vw;
  height: 15vw;
  background-image: url("../img/products/decorative/hand-cream.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.categories-content--disabled2__decor-img {
  width: 15vw;
  height: 15vw;
  background-image: url("../img/products/decorative/bin.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.categories-content--disabled3__decor-img {
  width: 15vw;
  height: 15vw;
  background-image: url("../img/products/decorative/bag.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.radio-buttons {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 10vw;
  text-align: center;
}

/*.radio-buttons::after {
  content: "";
  order: 2;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 1.5vw;
  background-image: url("../img/arrow-point-to-right.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
*/
.radio-buttons__all-categories {
  order: 1;
  color: #000000;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

.shop-now-block-top {
  height: 90vw;
  margin-bottom: 20vw;
  background-image: url("../img/stacked-shelves.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.shop-now-block-content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: inherit;
  border-top: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.8);
}

/* @supports ((-webkit-backdrop-filter: initial) or (backdrop-filter: initial)) {
  .shop-now-block-content {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255,255,255,0.7);
  }
} */

.shop-now-block-content h3 {
  display: block;
  padding: 0 10vw;
  margin: 0;
  font-size: 1.75em;
}

.shop-now-block-content p {
  display: block;
  padding: 0 10vw;
  font-size: 1.1em;
  color: #363636;
  line-height: 1.5;
}

.shop-now-block-content__shop-link {
  display: block;
  width: 90px;
  padding: 3vw 5vw;
  margin-left: 10vw;
  background-color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.trending-block__headline {
  order: 1;
  display: block;
  width: 100vw;
}

.trending-products {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  margin-bottom: 15vw;
}

.trending-item {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 23vw;
  text-align: center;
}

.trending-item a {
  text-decoration: none;
}

.trending-item__header {
  width: 23vw;
  height: 17vw;
  background-color: #f0f0f0;
}

.trending-item-image {
  width: 15vw;
  height: 17vw;
}

.trending-item__name {
  margin: 0.5em 0;
  font-size: 0.8rem;
  color: #000;
}

.trending-item__price {
  font-size: 1rem;
  color: #000;
}

.shop-now-block-bottom {
  min-height: 244;
  background-image: url("../img/bycicle.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shop-now-block-bottom__content {
  padding: 10vw 10vw;
  background-color: rgba(255, 255, 255, 0.5);
}

.shop-now-block-bottom__content h3 {
  margin: 0;
  font-size: 1.75rem;
}

.shop-now-block-bottom__content p {
  font-size: 1rem;
}

.shop-now-block-bottom__shop-link {
  display: block;
  width: 90px;
  padding: 3vw 5vw;
  background-color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.subscribe {
  width: 100%;
  padding: 10vw 0;
  margin-top: 15vw;
  background-color: #191919;
  text-align: center;
}

.subscribe__headline {
  margin: 0vw 0 5vw 0;
  font-size: 1.5rem;
  color: #fff;
}

.subscribe__subcribtion-form > input[type="email"] {
  padding: 10px 10px;
  border: 0;
  border-radius: 0;
  background-color: #fff;
  font-size: 0.9rem;
}

.subscribe__subcribtion-form > button[type="submit"] {
  padding: 9px 9px;
  padding-right: 15px;
  border: 0px;
  background-color: #ffffff;
  font-size: 1rem;
}

.subscribe__subcribtion-form > button[type="submit"]::after {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  padding-left: 5px;
  background-image: url("../img/arrow-point-to-right.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

footer {
  text-align: center;
  margin: 0;
  background-color: #000000;
}

.footer-navigation {
  display: flex;
  flex-flow: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 5vw;
}

.footer-navigation__link a {
  display: block;
  padding: 0.5em 0;
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
}

.copyright {
  color: #5a5a5a;
}
